<div class="d-f">
  <img ngSrc="fake-hm.png" alt="img loading" height="380" width="380" style="margin-top: 5px;"/>
  <form [formGroup]="ssoForm" (ngSubmit)="onSubmit()">
    <mat-form-field [appearance]="appearance" [color]="color" style="margin-top: 10px; ">
      <mat-label> ConsumerUrl
      </mat-label>
      <input matInput [formControl]="consumerUrlFc" required>
    </mat-form-field>
    <mat-form-field [appearance]="appearance" [color]="color">
      <mat-label> TargetUrl
      </mat-label>
      <input matInput [formControl]="targetUrlFc" required>
    </mat-form-field>
    <mat-form-field [appearance]="appearance" [color]="color">
      <mat-label> Email
      </mat-label>
      <input matInput [formControl]="emailFc" required>
    </mat-form-field>
    <mat-form-field [appearance]="appearance" [color]="color">
      <mat-label> FirstName
      </mat-label>
      <input matInput [formControl]="firstNameFc" required>
    </mat-form-field>
    <mat-form-field [appearance]="appearance" [color]="color">
      <mat-label> LastName
      </mat-label>
      <input matInput [formControl]="lastNameFc" required>
    </mat-form-field>
      <button mat-mini-fab type="submit" [disabled]="!ssoForm.valid">Submit</button>
  </form>
</div>
