<form [formGroup]="ssoForm">
    <mat-form-field [appearance]="appearance" [color]="color" [appearance]="appearance">
        <mat-label> E-mail
        </mat-label>
        <input matInput [formControl]="emailFc" required>
    </mat-form-field>
    <mat-form-field [appearance]="appearance" [color]="color" [appearance]="appearance">
        <mat-label> E-mail
        </mat-label>
        <input matInput [formControl]="emailFc" required>
    </mat-form-field>
    <mat-form-field [appearance]="appearance" [color]="color" [appearance]="appearance">
        <mat-label> E-mail
        </mat-label>
        <input matInput [formControl]="emailFc" required>
    </mat-form-field>
    <mat-form-field [appearance]="appearance" [color]="color" [appearance]="appearance">
        <mat-label> E-mail
        </mat-label>
        <input matInput [formControl]="emailFc" required>
    </mat-form-field>
    <mat-form-field [appearance]="appearance" [color]="color" [appearance]="appearance">
        <mat-label> E-mail
        </mat-label>
        <input matInput [formControl]="emailFc" required>
    </mat-form-field>
</form>