@use "@angular/material" as mat;
@use 'theme-colors' as theme;

html {
  margin: 0;
  color-scheme: dark light;
  @include mat.theme((color: (primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: (plain-family: JetBrains Mono,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0));
}

body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  color-scheme: light;
}

body.dark-mode {
  color-scheme: dark;
}

.d-f {
  display: flex;
}

.j-c {
  justify-content: center;
}
